[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = git@github.com:assimp/assimp.git
